@font-face {
    font-family: SplineSans ;
     src: url("assets\fonts\Spline_sans\static\SplineSans-Medium");
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
  }

.img-avatar {
  width: auto;
  height: 300px;
  border-radius: 20px 20px;
  
}

body {
    padding: 20px;
    background-color: #CBBAC5;
    font: 18px SplineSans;
    line-height: 1.5;
    font-weight: 400;


  }


.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    
    
  }


.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #000000;
    border: 2px solid #e5c7e9;
    border-radius: 0 10px;
    transition: .3s;
  
  }

a:hover {
    background-color:#cf5da7;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
    

.section {
  border: 4px solid rebeccapurple;
  border-radius: 20px 20px;
  margin: 2px ;
  max-width: 75%;
  min-width: 960px;
  padding: 10px;  
  background-color:rgb(230, 193, 247);
}
.img-rs {
  width: 90px;
  height: auto;
}
